@model IEnumerable<TraSuaLamss.Models.DonHang>


@{
    ViewBag.Title = "Details";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangGiaoHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.MaDH)</td>
        <td>@Html.DisplayFor(modelItem => item.KHACHHANG.TenKH)</td>
        <td>@String.Format(format, "{0:c0}", @item.ThanhTien)</td>
        <td>@Html.DisplayFor(modelItem => item.PhuongThucThanhToan)</td>
        <td>@Html.DisplayFor(modelItem => item.ThanhToan)</td>
        <td>@Html.DisplayFor(modelItem => item.DiaChiGiaoHang)</td>
        <td>@Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)</td>
        <td>@Html.DisplayFor(modelItem => item.NgayDat)</td>
        <td>@Html.DisplayFor(modelItem => item.NgayGiao)</td>
        <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
        <td>
            <a href="@Url.Action("Edit", "DonHang", new {id = item.MaDH})">Chỉnh sửa</a> |
            <a href="@Url.Action("Details", "DonHang", new {id = item.MaDH})">Chi tiết</a> |
            <a href="@Url.Action("Delete", "DonHang", new {id = item.MaDH})">Xóa</a>
        </td>
    </tr>
    }

</table>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>
