@model List<TraSuaLamss.Models.BaoCaoThang>
@{
    ViewBag.Title = "Index";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}


<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Tháng</th>
            <th>Số lượng đơn</th>
            <th>Doanh thu</th>
            <th></th>
        </tr>

    </thead>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Thang)</td>
        <td>@Html.DisplayFor(modelItem => item.SoLuongDonHang)</td>
        <td>@String.Format(format, "{0:c0}", @item.TongTien)</td>
        <td>@Html.ActionLink("Chi tiết", "Details", new { month = item.Thang }, new { @class = "btn btn-primary" })</td>
    </tr>
    }

</table>
<p>
    <button type="button" class="btn btn-dark" onclick="history.back()">Trở về</button>
</p>
