<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/Template/asssets/css")
    @Scripts.Render("~/bundels/modernizr")


    <link rel="stylesheet" type="text/css" href="~/Content/Template/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Template/assets/css/font-awesome.css">

    <link rel="stylesheet" href="~/Content/Template/assets/css/templatemo-klassy-cafe.css">

    <link rel="stylesheet" href="~/Content/Template/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="~/Content/Template/assets/css/lightbox.css">

    <link rel="stylesheet" href="~/Content/Template/assets/css/Style.css">

</head>

<body>



    <header class="header-area header-sticky">
        <div class="container">
            <a href="/Home/Index" class="logo">
                <img src="~/Content/Template/assets/images/LOGO.png" style="margin:20px 10px -20px -50px;width: 80px; height:80px">
            </a>
            <div class="row">

                <div class="dndx">
                    <a href="#">Đăng nhập</a>/<a href="#">Đăng ký</a>
                </div>
                <div class="search form-inline">
                    <form name="frmSearch" id="frmSearch" action="/SANPHAMs/Search" method="post">
                        <input type="text" name="searchkey" placeholder="Nhap tu khoa" class="form-control" />
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>


                <div class="search form-inline">
                    <form name="frmSearch" id="frmSearch" action="/SANPHAM/Search" method="post" style="margin-left:150px; margin-top:-50px">
                        <input type="text" name="searchkey" placeholder="Nhap tu khoa" class="form-control" style="width:700px" />
                        <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
                        <div class="form-inline dndx" style="margin-top:-20px">
                            @if (Session["TAIKHOAN"] != null)
                            {

                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-top:-10px"><img class="img-responsive rounded-circle" height="30" src="~/Content/Template/assets/images/computer-icons-user-profile-google-account-photos-icon-account.jpg" /><span class="name_user">&nbsp;&nbsp;@Session["Hoten"]</span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item" href="/TAIKHOANs/Index"><span>Thông tin tài khoản</span></a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("Logout","Home")"><span>Đăng xuất</span> <i class="fa fa-sign-out"></i></a></li>
                                    </ul>

                                </div>
                            }
                            @if (Session["TAIKHOAN"] == null)
                            {
                                <a href="/Home/DangNhap">Đăng nhập</a><span>/</span><a href="/Home/DangKy">Đăng ký</a>
                            }


                        </div>
                    </form>


                </div>
                <div class="col-9">
                    <nav class="main-nav">


                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>


                            <li class="scroll-to-section"><a href="#menu">Menu</a></li>
                            <li class="scroll-to-section"><a href="#chefs">Chefs</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a href="#">Features Page 4</a></li>
                                </ul>
                            </li>
                            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                            <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li>

                        <ul class="nav" style="margin-top:-5px">
                            @if (Session["PhanQuyen"] == null)
                            {
                                <li><a href="/Home/Index">TRANG CHỦ</a></li>
                                <li><a href="/GioiThieu/Index">GIỚI THIỆU</a></li>
                                <li class="submenu">
                                    <a href="/DSSANPHAM/Index">SẢN PHẨM</a>
                                    <ul>
                                        <li><a href="/DSSANPHAM/CaPhe">Cà phê</a></li>
                                        <li><a href="/DSSANPHAM/DoAnVat">Đồ ăn vặt</a></li>
                                        <li><a href="/DSSANPHAM/Tra">Trà</a></li>
                                        <li><a href="/DSSANPHAM/TraSua">Trà sữa</a></li>
                                    </ul>
                                </li>
                                <li><a href="/LIENHEs/Index">LIÊN HỆ</a></li>
                                <li><a href="/Home/DangNhap">GIỎ HÀNG</a></li>
                            }
                            else
                            {
                                if (Session["PhanQuyen"].ToString() == "Admin")
                                {
                                    <li><a href="/Home/Index">TRANG CHỦ</a></li>
                                    <li><a href="/GioiThieu/Index">GIỚI THIỆU</a></li>
                                    <li><a href="/TaiKhoan/Index">QUẢN LÝ TÀI KHOẢN</a></li>
                                    <li><a href="/SanPham/Index">QUẢN LÝ SẢN PHẨM</a></li>
                                }
                                if (Session["PhanQuyen"].ToString() == "Khách hàng")
                                {
                                    <li><a href="/Home/Index">TRANG CHỦ</a></li>
                                    <li><a href="/GioiThieu/Index">GIỚI THIỆU</a></li>
                                    <li class="submenu">
                                        <a href="/DSSANPHAM/Index">SẢN PHẨM</a>
                                        <ul>
                                            <li><a href="/DSSANPHAM/CaPhe">Cà phê</a></li>
                                            <li><a href="/DSSANPHAM/DoAnVat">Đồ ăn vặt</a></li>
                                            <li><a href="/DSSANPHAM/Tra">Trà</a></li>
                                            <li><a href="/DSSANPHAM/TraSua">Trà sữa</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/LIENHEs/Index">LIÊN HỆ</a></li>
                                    <li><a href="/GioiThieu/Index">GIỎ HÀNG</a></li>
                                }
                                if (Session["PhanQuyen"].ToString() == "Nhân viên")
                                {
                                    <li><a href="/Home/Index">TRANG CHỦ</a></li>
                                    <li><a href="/GioiThieu/Index">GIỚI THIỆU</a></li>
                                    <li class="submenu">
                                        <a href="/DSSANPHAM/Index">SẢN PHẨM</a>
                                        <ul>
                                            <li><a href="/DSSANPHAM/CaPhe">Cà phê</a></li>
                                            <li><a href="/DSSANPHAM/DoAnVat">Đồ ăn vặt</a></li>
                                            <li><a href="/DSSANPHAM/Tra">Trà</a></li>
                                            <li><a href="/DSSANPHAM/TraSua">Trà sữa</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/LIENHEs/Index">LIÊN HỆ</a></li>
                                    <li><a href="/SanPham/Index">QUẢN LÝ SẢN PHẨM</a></li>
                                }
                            }
                        </ul>


                    </nav>
                </div>
            </div>
        </div>
    </header>


    <br /><br /><br /><br /><br /><br />




    <section> @RenderBody()</section>



    <!-- ***** Phone ring Area Start ***** -->
    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="tel:0971303965" class="pps-btn-img">
                    <img src="~/Content/Img/icon-call.png" alt="Gọi điện thoại" width="50">
                </a>
            </div>
        </div>
        <div class="hotline-bar">
            <a href="tel:0971303965">
                <span class="text-hotline">0971.303.965</span>
            </a>
        </div>
    </div>
    <!-- ***** Phone ring Area End ***** -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                        VỀ CHÚNG TÔI<br />
                        <a href="/LIENHEs/Index">LIÊN HỆ</a><br />
                        <a href="/GioiThieu/Index">GIỚI THIỆU</a>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="~/Content/Template/assets/images/white-logo.png" alt=""></a>
                        <a href="index.html"><img src="~/Content/Template/assets/images/LOGO.png" style="width: 80px; height: 80px" alt=""></a><br />
                        <p>©Rikkei copyright </p>

                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/Content/Template/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Content/Template/assets/js/popper.js"></script>
    <script src="~/Content/Template/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/Content/Template/assets/js/owl-carousel.js"></script>
    <script src="~/Content/Template/assets/js/accordions.js"></script>
    <script src="~/Content/Template/assets/js/datepicker.js"></script>
    <script src="~/Content/Template/assets/js/scrollreveal.min.js"></script>
    <script src="~/Content/Template/assets/js/waypoints.min.js"></script>
    <script src="~/Content/Template/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Template/assets/js/imgfix.min.js"></script>
    <script src="~/Content/Template/assets/js/slick.js"></script>
    <script src="~/Content/Template/assets/js/lightbox.js"></script>
    <script src="~/Content/Template/assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="~/Content/Template/assets/js/custom.js"></script>
    <script>

        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>