@model IList<TraSuaLamss.Models.PhieuDatHang>
@{
    ViewBag.Title = "Dathang";
}
<style>
    td {
        padding: 10px 20px 10px 20px;
    }

    form {
        text-align: center;
    }

        form.dathang {
            width: 80%;
            display: block;
            padding-bottom: 500px;
        }
</style>
<form class="dathang">
    <h2 align="center">Xác nhận đặt hàng</h2>
    <table>
        <tr>
            <td>Mã đơn hàng</td>
            <td>@ViewBag.MaDH</td>
        </tr>
        <tr>
            <td>Khách hàng</td>
            <td>@ViewBag.TenKH</td>
        </tr>
        <tr>
            <td>Địa chỉ</td>
            <td>@ViewBag.DiaChi</td>
        </tr>
    </table>

    <table>
        <thead>
            <tr>
                <td>Sản phẩm</td>
                <td>Đơn giá</td>
                <td>Số lượng</td>
                <td>Thành tiền</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.SP.TenSP</td>
                    <td>@item.CTDH.DonGia</td>
                    <td>@item.CTDH.SoLuong</td>
                    <td>@(item.CTDH.DonGia * item.CTDH.SoLuong)</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>Tổng tiền: </td>
                <td>@ViewBag.TongTien</td>
            </tr>
        </tbody>

    </table>

    <div align="center"><button>xác nhận</button></div>
</form>
<br />




