@model IEnumerable<TraSuaLamss.Models.SanPham>
@{
    ViewBag.Title = "Details";
    Layout = null;
}
<style type="text/css">
    #datmua a {
        background-color: red;
        color: white;
        line-height: 40px;
        display: block;
        float: left;
        padding-left: 10px;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
    }

        #datmua a:hover {
            background-color: gray;
            color: red;
        }

    #product {
        width: 222px;
        height: 320px;
        float: left;
        display: block;
        padding: 5px;
        margin-left: 20px;
        margin-bottom: 20px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #999;
    }
</style>

<table border="0" style="width:1280px">
    <tr>
        <td style="width:50%">
            <img style="float:right;padding-right:20px" src="~/@ViewBag.Anh" width="300" height="350" />
        </td>
        <td style="width:50%" valign="top">
            <p style="font-weight:bold;color:black;font-size:36px;line-height:50px">@ViewBag.TenSP</p>
            <hr style="width:50%;float:left;" />
            <br />
            <p style="font-size:24px"><span style="color:red">@ViewBag.GiaBan đ</span></p>
            <p style="font-size: 18px">Phân loại : <span style="">@ViewBag.TenLoai</span></p>
            <p style="font-size: 18px">Nguyên liệu : <span style="">@ViewBag.TenNL</span></p>

            <p style="clear: left; font-size: 18px">Mô tả : <span style="">@ViewBag.MoTa</span></p>
            <p>
                Số lượng:
                <input class="minus is-form" type="button" value="-" onclick="Down()">
                <input id="soluong" aria-label="quantity" class="input-qty" min="1" type="number" value="@ViewBag.SL" style="height:24px;width:50px;text-align:center">
                <input class="plus is-form" type="button" value="+" onclick="Up()">
                <script>
                    function Up() {
                        result = document.getElementById('soluong');
                        result.value = result.value ? parseInt(result.value) + 1 : 1;
                    }
                    function Down() {
                        result = document.getElementById('soluong');
                        result.value = result.value ? parseInt(result.value) - 1 : 1;
                    }
                </script>
            </p>
            <div id="datmua">
                <a href="@Url.Action("DatHangLe","GioHang",new { MaKH=1, MaHang=ViewBag.MaSP,soluong=ViewBag.SL })">Đặt hàng</a>
            </div>
            <div id="datmua">
                <a href="@Url.Action("Add","GioHang",new { MaKhach=1, MaHang=ViewBag.MaSP,soluong=ViewBag.SL })">Thêm vào giỏ hàng</a>
            </div>
        </td>
    </tr>
</table>
<br />



