@model IEnumerable<TraSuaLamss.Models.SanPham>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    * {
        margin: 0px;
        padding: 0px;
    }

    input.updown {
        width: 26px;
        height: 26px;
        text-align: center;
    }

    #datmua {
        width: 640px;
        height: 50px;
        text-align: left;
    }


    input.inputsl {
        width: 36px;
        text-align: center;
        height: 30px;
        border: none;
    }

    button.Mua {
        width: 160px;
        background-color: orangered;
        line-height: 40px;
        color: white;
        border: 1px solid red;
    }

    button.Them {
        width: 160px;
        background-color: #FFEFD5;
        line-height: 40px;
        color: orangered;
        border: 1px solid orangered;
        margin-right:30px;
    }

    #datmua button:hover {
        background-color: #FF7F50;
        color: red;
    }

    #product {
        width: 222px;
        height: 330px;
        float: left;
        display: block;
        margin: 5px 0 20px 25px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #999;
        position: relative;
    }

    #absolute {
        position: absolute;
        left: 10px;
        top: 10px;
        color: red;
        font-size: 24px;
        font-family: Arial;
    }

    #infor {
        font-size: 24px;
        padding: 10px 0 10px 0;
    }
</style>
<div style="width: 100%">
    <div style="width: 1280px; margin: 0 auto;padding-top:150px">
        <table border="0">
            <tr>
                <td style="width:50%;height:420px" valign="bottom">
                    <img style="float:right;padding-right:20px" src="~/wwwroot/Images/@ViewBag.Anh" width="350" height="400" />
                </td>
                <td style="width:50%;padding-left:30px" valign="top">
                    <div style="height:370px">
                        <h1 style="font-weight:bold;padding-top:20px">@ViewBag.TenSP</h1>
                        <hr style="margin-right:30px" />
                        <p id="infor" >
                            @ViewBag.GiaBan
                        </p>
                        <p id="infor">Phân loại : @ViewBag.TenLoai</p>
                        <p id="infor">Nguyên liệu : @ViewBag.TenNL</p>
                        <p id="infor">Mô tả : @ViewBag.MoTa</p>
                        <p id="infor">
                            Số lượng:
                            <input class="updown" type="button" value="-" onclick="Down()">
                            <input id="soluong" class="inputsl" min="1" type="text" value="1">
                            <input class="updown" type="button" value="+" onclick="Up()">
                            <script>
                                function Up() {
                                    result = document.getElementById('soluong');
                                    result.value = result.value ? parseInt(result.value) + 1 : 1;

                                }
                                function Down() {
                                    result = document.getElementById('soluong');
                                    if (result.value > 1) {
                                        result.value = result.value ? parseInt(result.value) - 1 : 1;
                                    }
                                    else result.value = "1";
                                }
                                function Them() {
                                    window.location.href = "@Html.Raw(Url.Action("Add", "GioHang", new { MaKhach = ViewBag.MaKH, MaHang = ViewBag.MaSP }))" + "&soluong=" + document.getElementById('soluong').value;
                                }
                                function DatHang() {
                                    window.location.href = "@Html.Raw(Url.Action("DatHangLe", "GioHang", new { MaKH = ViewBag.MaKH, MaHang = ViewBag.MaSP }))" + "&soluong=" + document.getElementById('soluong').value;
                                }
                            </script>
                        </p>
                    </div>
                    <div id="datmua">
                        <button class="Them" onclick="Them()">THÊM GIỎ HÀNG</button>
                        <button class="Mua" onclick="DatHang()">ĐẶT MUA</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width:1280px">
                    <p style="font-size:24px;padding:40px 0 20px 25px">Các sản phẩm liên quan khác</p>
                    <div>
                        @foreach (var sp in Model)
                        {
                            <div id="product">
                                <div id="absolute">
                                    @{
                                        var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                        string gia1 = String.Format(format, "{0:c0}", sp.GiaBan);
                                    }
                                    @gia1
                                </div>
                                <a style="text-decoration: none;font-size:16px" href="@Url.Action("Details","DSSANPHAM",new { id=sp.MaSP, loai = sp.MaLoai })">
                                    <img src="~/wwwroot/Images/@sp.Anh" width="220" height="280" />
                                    <p style="font-size:16px;padding-left:5px;"><span>@sp.TenSP</span></p>
                                </a>
                            </div>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>