@model PagedList.IPagedList<TraSuaLamss.Models.SANPHAM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "DO AN VAT";
    Layout = null;

}

<style type="text/css">
    #products {
        width: 1280px;
    }

    #product {
        width: 222px;
        height: 320px;
        float: left;
        display: block;
        padding: 7px;
        margin: 7px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #999;
    }

    #danhmuc {
        border: 1px solid #999;
        height: 280px;
    }

    .tim {
        height: 30px;
        width: 175px;
        padding-left: 5px
    }

    .timgia {
        height: 30px;
        width: 100px;
    }

    td p span a {
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        display: block;
        padding-top: 15px;
        text-decoration: none;
        color: #000;
        border-bottom: 2px solid #FFF;
        margin-left: 10px;
    }

        td p span a:hover {
            color: red;
        }
</style>
<div id="products">

    <table>
        <tr>
            <td width="256px" valign="top">
                <p style="margin-top:55px;font-size:22px;font-weight:bold">DANH MỤC SẢN PHẨM</p>
                <div id="danhmuc">
                    <p>
                        <span><a href="/DSSANPHAM/Index">tất cả sản phẩm</a></span>
                        <span><a href="/DSSANPHAM/TraSua">Trà sữa</a></span>
                        <span><a href="/DSSANPHAM/Tra">Trà</a></span>
                        <span><a href="/DSSANPHAM/CaPhe">Cà phê</a></span>
                        <span><a href="/DSSANPHAM/DoAnVat">Đồ ăn vặt</a></span>
                    </p>
                </div>
                <p style="font-size:22px;font-weight:bold;margin-top: 50px">TÌM KIẾM SẢN PHẨM</p>
                <div style="border: 1px solid #999">
                    <div style="margin-top: 20px;">
                        @using (Html.BeginForm())
                        {
                            <p>
                                <span style="font-size:24px;">Tìm theo tên <span style="padding-left:5px">@Html.TextBox("Name", ViewBag.currentFilter as string, new { @class = "tim" })</span></span>
                                <input type="submit" value="Tìm" style="height:30px;width:50px" />
                            </p>
                        }
                    </div>

                    <div>
                        @using (Html.BeginForm())
                        {
                            <p style="font-size:24px">
                                <span style="margin-bottom: 5px; padding-left: 5px">Khoảng giá</span><br />
                                <span style=" padding-left: 5px">@Html.TextBox("first", ViewBag.currentFilter1 as string, new { @class = "timgia" })</span>&nbsp;-&nbsp;
                                <span>@Html.TextBox("end", ViewBag.currentFilter2 as string, new { @class = "timgia" })</span>
                                <span style="color:red;font-size:12px">@ViewBag.Error</span><br />
                                <span><input type="submit" value="Áp dụng" style="height:30px;margin:10px 0 0 80px" /></span>
                            </p>
                        }
                    </div>
                </div>

            </td>
            <td width="1024px">
                <p style="font-size:22px;padding-left:5px;">@ViewBag.Loai</p>
                <div style="height:700px">
                    @foreach (var sp in Model)
                    {
                        <div id="product">
                            <a style="text-decoration: none" href="@Url.Action("Details","DSSANPHAM",new { id=sp.MaSP, loai = sp.MaLoai })">
                                <p style="color:red;position:absolute">@sp.GiaBan đ</p>
                                <img src="~/wwwroot/Images/h0.png" width="215" height="280" />
                                <p style="font-size:16px"><span>@sp.TenSP</span></p>

                            </a>
                        </div>
                    }
                    <div style="clear:left"></div>
                </div>
                <br />
                Trang @(Model.PageCount<Model.PageNumber?0 : Model.PageNumber)/@Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.currentFilter, currentFilter1 = ViewBag.currentFilter1, currentFilter2 = ViewBag.currentFilter2 }))
            </td>
        </tr>

    </table>

</div>

@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}


