@model PagedList.IPagedList<TraSuaLamss.Models.SanPham>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Tra";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style type="text/css">
    * {
        margin: 0px;
        padding: 0px;
    }

    #products {
        width: 1280px;
        margin: 0 auto;
        height: 100%;
    }

    #product {
        width: 222px;
        height: 330px;
        float: left;
        display: block;
        margin: 0 0 30px 25px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #999;
        position: relative;
    }

    #absolute {
        position: absolute;
        left: 15px;
        top: 10px;
        color: red;
        font-size: 24px;
        font-family: Arial;
    }

    .tim {
        height: 35px;
        width: 238px;
        margin: 5px 0 20px 5px;
    }

    .timgia {
        height: 35px;
        width: 100px;
        margin: 5px 0 10px 0;
    }

    td p a {
        height: 30px;
        line-height: 30px;
        font-size: 24px;
        display: block;
        padding-top: 15px;
        text-decoration: none;
        color: #000;
        margin-left: 15px;
    }

    td p a:hover {
        color: blue;
    }

    #Danhmuc {
        padding: 10px 0 10px 0;
    }
    #button {
        margin: 10px 0 0 55px;
        height: 40px;
        width: 140px;
        border-radius: 4px;
    }
    #page {
        margin-left: 25px;                      
    }
</style>
<div>
    <div id="products">
        <table>
            <tr>
                <td width="280px" valign="top">
                    <div style="background-color: #FAFAD2; height: 885px;padding-top:150px">
                        <div style="margin-top:10px;padding:0 0 0 10px">

                            <p style="font-size:22px;font-weight:bold">DANH MỤC SẢN PHẨM</p>
                            <p id="Danhmuc"><a style="color:red" href="/DSSANPHAM/Index">tất cả sản phẩm</a></p>
                            <p id="Danhmuc"><a href="/DSSANPHAM/TraSua">Trà sữa</a></p>
                            <p id="Danhmuc"><a href="/DSSANPHAM/Tra">Trà</a></p>
                            <p id="Danhmuc"><a href="/DSSANPHAM/CaPhe">Cà phê</a></p>
                            <p id="Danhmuc"><a href="/DSSANPHAM/DoAnVat">Đồ ăn vặt</a></p>

                        </div>
                        <div style=" padding: 30px 0 0 10px;">
                            @using (Html.BeginForm())
                            {
                                <p style="font-size:22px;font-weight:bold">TÌM KIẾM SẢN PHẨM</p>
                                <p style="font-size: 24px; padding: 20px 0 0 10px">
                                    <span style="font-size:24px">Tên sản phẩm </span>
                                    <span>@Html.TextBox("Name", ViewBag.currentFilter as string, new { @class = "tim" })</span>
                                    <span>Khoảng giá</span><br />
                                    @{ //fomat tiền cho textbox chưa hoàn thiện
                                        decimal tien = 0;
                                        var format = String.Format("{0:0.00}",tien);
                                    }
                                    <span style=" padding-left: 5px">@Html.TextBox("first", ViewBag.currentFilter1 as string, new { @class = "timgia" })</span>&nbsp;&nbsp;-&nbsp;
                                    <span>@Html.TextBox("end", ViewBag.currentFilter2 as string, new { @class = "timgia" })</span>
                                    <span style="padding-left: 5px;color: red; font-size: 12px">@ViewBag.Error</span><br />
                                    <span><input id="button" type="submit" value="Tìm kiếm" /></span>
                                </p>
                            }
                        </div>
                    </div>
                </td>
                <td width="1000px">
                    <div style="padding-top:150px">
                        <p style="font-size: 22px; margin-left: 25px; padding-top: 10px;">@ViewBag.Loai</p>
                        <div style=" height: 700px; padding-top:10px">
                            @foreach (var sp in Model)
                            {
                                <div id="product">
                                    <div id="absolute">
                                        @{
                                            var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                            string gia = String.Format(format, "{0:c0}", sp.GiaBan);
                                        }
                                        @gia
                                    </div>
                                    <a style="text-decoration: none;font-size:16px" href="@Url.Action("Details","DSSANPHAM",new { id=sp.MaSP, loai = sp.MaLoai })">

                                        <img src="~/wwwroot/Images/@sp.Anh"  width="220" height="280" />
                                        <p style="font-size:16px;padding-left:5px;"><span>@sp.TenSP</span></p>
                                    </a>
                                </div>
                            }
                            <div style="clear:left"></div>
                        </div>
                        <div id="page">
                            @if (Model.PageCount > 1)
                            {
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.currentFilter, currentFilter1 = ViewBag.currentFilter1, currentFilter2 = ViewBag.currentFilter2 }))
                            }
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}


