@model IList<TraSuaLamss.Models.SanPhamTrongDonHang>

@{
    ViewBag.Title = "Delete";
}

<p>
    <h3 align="center">Đơn hàng: #@ViewBag.donHang.MaDH</h3>
</p>
<br />
<form style="padding-left:35%">
    <fieldset disabled>
        <div class="form-group row">
            <label for="intput1" class="col-sm-2 col-form-label">Khách hàng</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" id="intput1" value="@ViewBag.Ten">
            </div>
        </div>
        <div class="form-group row">
            <label for="intput2" class="col-sm-2 col-form-label">Địa chỉ</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" id="intput2" value="@ViewBag.donHang.DiaChiGiaoHang">
            </div>
        </div>
        <div class="form-group row">
            <label for="intput3" class="col-sm-2 col-form-label">Ngày đặt</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" id="intput3" value="@ViewBag.donHang.NgayDat">
            </div>
        </div>
        <div class="form-group row">
            <label for="intput4" class="col-sm-2 col-form-label">Thanh toán</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" id="intput4" value="@ViewBag.donHang.PhuongThucThanhToan">
            </div>
        </div>
        <div class="form-group row">
            <label for="intput5" class="col-sm-2 col-form-label">Tình trạng</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" id="intput5" value="@ViewBag.donHang.TinhTrangGiaoHang">
            </div>
        </div>
        <br />
        <table class="table table-striped table-bordered col-sm-5">
            <thead class="thead-light">
                <tr>
                    <th>Sản phẩm</th>
                    <th class="td-center">Đơn giá</th>
                    <th class="td-center">Số lượng</th>
                    <th class="td-center">Thành tiền</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {

                <tr>
                    <td class="text-center">@item.sanPham.TenSP</td>
                    <td class="text-center">
                        @{
                            var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                            string dongia = String.Format(format, "{0:c0}", item.chiTietDonHang.DonGia);
                            string thanhtien = String.Format(format, "{0:c0}", item.chiTietDonHang.DonGia * item.chiTietDonHang.SoLuong);
                        }
                        @dongia
                    </td>
                    <td class="text-md-right">@item.chiTietDonHang.SoLuong</td>
                    <td class="text-md-right">
                        @thanhtien
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3" class="text-md-right"><strong>Tổng tiền</strong>: </td>
                <td class="td-center text-md-right">
                    @{
                        var format1 = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                        string tongtien = String.Format(format1, "{0:c0}", ViewBag.donHang.ThanhTien);
                    }
                    @tongtien
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<div class="form-row" style="padding-left:35%">
    <div class="form-group col-md-1">
        <a class="btn btn-dark" href="@Url.Action("Index","BaoCaoThongKe")">Quay lại</a>
    </div>
    <div class="form-group col-md-1">
    </div>
    <div class="form-group col-md-1">
        
    </div>
    <div class="form-group col-md-1">
    </div>
    <div class="form-group col-md-1">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions">
                <button class="btn btn-danger" type="submit">
                    Xóa
                    <img src="~/Content/Img/Delete_24px.png" height="20" width="20" />
                </button>
            </div>
        }
    </div>
</div>
