@model IEnumerable<TraSuaLamss.Models.DonHang>

@{
    ViewBag.Title = "LichSuGiaoDich";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<h2>Lịch sử giao dịch</h2>

<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th class="text-center"><strong>Mã</strong></th>
            <th class="text-center"><strong>Thành tiền</strong></th>
            <th class="text-center"><strong>Tình trạng thanh toán</strong></th>
            <th class="text-center"><strong>Địa chỉ</strong></th>
            <th class="text-center"><strong>Ngày đặt</strong></th>
            <th class="text-center"><strong>Tình trạng giao hàng</strong></th>
            <th class="text-center"><strong>Ghi chú</strong></th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaDH)</td>
                <td class="text-md-right">@String.Format(format, "{0:c0}", @item.ThanhTien)</td>
                <td>@Html.DisplayFor(modelItem => item.ThanhToan)</td>
                <td>@Html.DisplayFor(modelItem => item.DiaChiGiaoHang)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayDat)</td>
                <td>@Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)</td>
                <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
                <td>@Html.ActionLink("Chi tiết", "Details", new { id = item.MaDH }, new { @class = "btn btn-outline-info" })</td>
            </tr>
        }
    </tbody>
</table>
<p style="padding-left:5%">
    <button type="button" class="btn btn-dark" onclick="history.back()">Trở về</button>
</p>