@model IEnumerable<TraSuaLamss.Models.DonHang>

@{
    ViewBag.Title = "LichSuGiaoDich";
}

<h2>Lịch sử giao dịch</h2>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th> Mã</th>
            <th>Thành tiền</th>
            <th>Tình trạng thanh toán</th>
            <th>Địa chỉ</th>
            <th>Ngày đặt</th>
            <th>Tình trạng giao hàng</th>
            <th>Ghi chú</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaDH)</td>
                <td>@Html.DisplayFor(modelItem => item.ThanhTien)</td>
                <td>@Html.DisplayFor(modelItem => item.ThanhToan)</td>
                <td>@Html.DisplayFor(modelItem => item.DiaChiGiaoHang)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayDat)</td>
                <td>@Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)</td>
                <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
                <td>@Html.ActionLink("Chi tiết", "Details", new { id = item.MaDH }, new { @class = "btn btn-outline-info" })</td>
            </tr>
        }
    </tbody>
</table>
