@model TraSuaLamss.Models.NhanVien

@{
    ViewBag.Title = "Details";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
    <h3 style="padding-left:35%">Thông tin chi tiết: @Html.DisplayFor(model => model.TenNV)</h3>
    <br />

    <form style="padding-left:35%">
        <fieldset disabled>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="input"><strong>Mã nhân viên:</strong></label>
                    <input type="text" class="form-control" id="input" value="@Html.DisplayFor(model => model.MaNV)">
                </div>
                <div class="form-group col-md-3">
                    <label for="input1"><strong>Tên đăng nhập:</strong></label>
                    <input type="text" class="form-control" id="input1" value="@Html.DisplayFor(model => model.Username)">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="input2"><strong>Họ và Tên:</strong></label>
                    <input type="text" class="form-control" id="input2" value="@Html.DisplayFor(model => model.TenNV)">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="input3"><strong>Ngày sinh</strong></label>
                    <input type="text" class="form-control text-right" id="input3" value="@Html.DisplayFor(model => model.NgaySinh)">
                </div>
                <div class="form-group col-md-3">
                    <label for="input4"><strong>Giới tính:</strong></label>
                    <div id="input4">
                        Nam&emsp;&emsp;@Html.RadioButtonFor(model => model.GioiTinh, "Nam", new { @class = "form-check-input" })
                        Nữ &emsp;&emsp;@Html.RadioButtonFor(model => model.GioiTinh, "Nữ", new { @class = "form-check-input" })
                        Khác &emsp;&emsp;@Html.RadioButtonFor(model => model.GioiTinh, "Khác", new { @class = "form-check-input" })
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="input5"><strong>Email:</strong></label>
                    <input type="text" class="form-control text-right" id="input4" value="@Html.DisplayFor(model => model.Email)">
                </div>
                <div class="form-group col-md-3">
                    <label for="input6"><strong>Số điện thoại:</strong></label>
                    <input type="text" class="form-control text-right" id="input6" value="@Html.DisplayFor(model => model.DienThoai)">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="input7"><strong>Địa chỉ:</strong></label>
                    <input type="text" class="form-control" id="input7" value="@Html.DisplayFor(model => model.DiaChi)">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="input8"><strong>Số tài khoản:</strong></label>
                    <input type="text" class="form-control text-right" id="input8" value="@Html.DisplayFor(model => model.STK)">
                </div>
                <div class="form-group col-md-3">
                    <label for="input9"><strong>Tiền lương:</strong></label>
                    <input type="text" class="form-control text-right" id="input9" value="@String.Format(format, "{0:c0}", Model.Luong)">
                </div>
            </div>
        </fieldset>
        <div class="form-row">
            <div class="form-group col-md-1">
                <a class="btn btn-primary" href="@Url.Action("Edit", "NhanVien", new {id=Model.MaNV}) )">
                    Sửa
                    <img src="~/Content/Img/edit_24px.png" height="20" width="20" />
                </a>
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-1">
                @Html.ActionLink("Trở lại", "Index","", new { @class = "btn btn-dark" })
            </div>
        </div>
    </form>