@model TraSuaLamss.Models.SanPham

@{
    ViewBag.Title = "Delete";
}

<style>
    #infor {
        font-size: 24px;
        padding: 15px 0 15px 0;
    }

    #button {
        height: 40px;
        width: 160px;
        border: 1px solid #DCDCDC;
        border-radius: 4px;
        float:left;
    }   
</style>

<div style="width: 1280px; margin: 0 auto;padding-top:150px">
    <table style="margin: 0 auto">
        <tr>
        <tr>
            <td style="width:50%;height:420px" valign="bottom">
                <img style="float:right;padding-right:20px" src="~/wwwroot/Images/@Model.Anh" width="350" height="400" />
            </td>
            <td style="width:50%;padding-left:30px" valign="top">
                <div style="height:370px">
                    <h1 style="font-weight:bold;padding-top:20px">@Model.TenSP</h1>
                    <hr style="margin-right:30px" />
                    <p id="infor">
                        @{
                            decimal tien = Model.GiaBan;
                            string gia = String.Format("{0:0,0} đ", tien);
                        }
                        Giá bán : <span style="color:red">@gia</span>
                    </p>
                    <p id="infor">Phân loại : @Model.PHANLOAI.TenLoai</p>
                    <p id="infor">Nguyên liệu : @Model.NGUYENLIEU.TenNL</p>
                    <p id="infor">Mô tả : @Model.MoTa</p>

                </div>
                <div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input id="button" type="submit" value="Xoá sản phẩm" class="btn btn-default" /> 
                            <p style="clear:left;float:right">
                                @Html.ActionLink("Quay lại", "Index")
                            </p>
                        </div>
                    }
                </div>
                
            </td>
        </tr>

    </table>

</div>
