@model TraSuaLamss.Models.SanPham

@{
    ViewBag.Title = "Edit";
    var ImagePath = "~/wwwroot/Images/" + Model.Anh;
}

<style>
    #col1 {
        float: left;
    }

    #col1 {
        float: right;
    }

    .label {
        padding-left: 15px;
    }

    #button {
        height: 40px;
        width: 160px;
        border: 1px solid #DCDCDC;
        border-radius: 4px;
    }
</style>
@using (Html.BeginForm("Index","SanPham",FormMethod.Post,new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" style="width:100%">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div style="width: 1280px; margin: 0 auto;padding-top:150px">
        <table style="margin: 0 auto">
            <tr>
                <td width="50%" valign="top">
                    <div id="col1">
                        
                        <div class="form-group">
                            @Html.Label("Tên sản phẩm", new { @class = "label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Giá bán", new { @class = "label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Nguyên liệu", new { @class = "label" })
                            <div class="col-md-10">
                                @Html.DropDownList("MaNL", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaNL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Phân loại", new { @class = "label" })
                            <div class="col-md-10">
                                @Html.DropDownList("MaLoai", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaLoai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </td>
                <td valign="top">
                    <div id="col2">
                        <div class="form-group">
                            @Html.Label("Ảnh sản phẩm", new { @class = "label" })
                            <div class="col-md-10">
                                <img id="output" class="img-rounded" alt="Ảnh" width="150" height="177" src="@Url.Content(ImagePath)" />
                                <p style="font-size:20px"><label for="ufile" style="cursor:pointer">Chọn file ảnh</label></p>
                                <input name="ImageFile" id="ufile" type="file" style="display:none;float:right" onchange="loadFile(event)" />

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Mô tả", new { @class = "label" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="padding-top:30px">
                                <input id="button" type="submit" value="Lưa chỉnh sửa" class="btn btn-default" />
                            </div>
                        </div>
                        <div style="float:right">
                            @Html.ActionLink("Quay lại", "Index")
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear:left"></div>
</div>
}

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>