@model PagedList.IPagedList<TraSuaLamss.Models.SanPham>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="width: 1280px; margin: 0 auto;padding-top:150px">
    <table class="table" style="margin: 0 auto" height="800">
        <tr>
            <th>
                <p>Nguyên liệu</p>
            </th>
            <th>
                <p>Phân loại</p>
            </th>
            <th>
                <p>Tên sản phẩm</p>
            </th>
            <th>
                <p>Giá bán</p>
            </th>
            <th>
                <p>Mô tả</p>
            </th>
            <th>
                <p>Ảnh </p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td height="150">
                    @Html.DisplayFor(modelItem => item.NGUYENLIEU.TenNL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHANLOAI.TenLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @{
                        decimal tien = item.GiaBan;
                        string gia = String.Format("{0:0,0}", tien);
                    }
                    <p>@gia</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @{
                        string ImagePath = "~/wwwroot/Images/" + item.Anh;
                    }
                    <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP.Trim() }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.MaSP.Trim() }) |
                    @Html.ActionLink("Xoá", "Delete", new { id = item.MaSP.Trim() })
                </td>
            </tr>
        }

    </table>
    <div style="margin-left:5px">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>

