@model IEnumerable<TraSuaLamss.Models.SANPHAM>
@using TraSuaLamss.Controllers
@using TraSuaLamss.Models
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Search </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NGUYENLIEU.TenNL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHANLOAI.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NGUYENLIEU.TenNL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHANLOAI.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anh)
            </td>
        </tr>
    }

</table>